{% extends "base.html" %}
<!-- {% load bootstrap4 %} -->
{% block content %}
<h3>{{ title }}</h3>
<form method="post" class="post-form">
    {% csrf_token %}
    <table>
        <div id="done" class="form-check form-check-inline">
            <div class="circle"></div>
            <label for="my-checkbox"></label>
            <input type="checkbox" id="my-checkbox" name="is_done" class="checkout_class border-2 border-radius-5" data-bs-color="red" model_field="is_done" onchange="updateModel(this)" {% if form.instance.is_done %}checked{% endif %}>
        </div>
          
        {% for field in form %}
            {% if field.name != 'is_done' %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <input value="Submit" type="submit">
    <input value="Cancel" type="button" onclick="location.href='{% url "list" todo_list.id %}'">
    {% if object %}
    <input value="Delete this item" type="button" onclick="location.href='{% url "item-delete" todo_list.id object.id %}'">
    {% endif %}
</form>
<script>
    function updateModel(checkbox) {
        checkbox.value = checkbox.checked ? 'on' : 'off';
    }
</script>
{% endblock %}