body {
    margin: 0;
    padding: 0;
    background-image: url("/static/images/OIP.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container h1:hover,
.container h3:hover,
.container h5:hover,
.container li:hover,
.parent-container img:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}
.parent-container {
    opacity: 0.8;
    padding-left: 30px;
    text-align: center;
}
.container {
    padding-left: 30px;
    text-align: center;
}
.post-form{
    color: blue;
    position: relative;
    margin-left: 20%;
}

.bi-calendar:hover {
    color: black;
    cursor: pointer;
}
.input-group-addon.input-group-append.input-group-text:hover {
    color: black;
    cursor: pointer;
}

.container h3 ul li{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.checkout_class {
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    z-index: 10;
}

.checkout_class:active, .checkout_class:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkout_class:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: #99a1a7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    z-index: 10;
}

.checkout_class:checked:after {
    content: '\\2713';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
    z-index: 10;
}

#done {
    /* z-index: 2; */
    /* font-size: larger; */
    color: black;
    position: absolute;
    width: 60px;
    padding: initial;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 70%;
}

#done input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 9px;
    margin: 0;
    border: 1px double black;
}
